
<div ng-controller="ErrorsController" style="text-align:center">
    <p>Error</p>
    <p>Code: {{errorCode}}</p>
    <p>{{errorMessage}}</p>
</div>
<session-controls back="{{previousPage}}" exit="false"></session-controls>

