<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Teller Machine</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-app="atm" style="text-align:center">
    @RenderBody()

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularApp")
</body>
</html>
