
<div style="text-align:center"> 
    Card number: {{response.CardNumber}}<br />
    Balance: {{response.Amount}}<br />
    Date: {{response.Date}}<br />
</div>

<session-controls back="navigation" exit="true"></session-controls>