
<div style="text-align:center"> 
    Номер карты: {{response.CardNumber}}<br />
    Баланс: {{response.Amount}}<br />
    Дата: {{response.Date}}<br />
</div>

<session-controls back="navigation" exit="true"></session-controls>