<style>
    p { padding: 10px; margin: 3px; border: 1px solid black; float:left; -webkit-user-select: none; -moz-user-select: none; cursor:pointer }
</style>
    <p ng-mousedown="addNumber(1)">1</p>
    <p ng-mousedown="addNumber(2)">2</p>
    <p ng-mousedown="addNumber(3)">3</p>
    <br />
    <p ng-mousedown="addNumber(4)">4</p>
    <p ng-mousedown="addNumber(5)">5</p>
    <p ng-mousedown="addNumber(6)">6</p>
    <br />
    <p ng-mousedown="addNumber(7)">7</p>
    <p ng-mousedown="addNumber(8)">8</p>
    <p ng-mousedown="addNumber(9)">9</p>
    <br />
    <p ng-mousedown="addNumber(0)">0</p>
    <p ng-mousedown="clear()" style="width: 44px;">clear</p>